@import "mixins";

$colorMain: #2C2C2C;
$colorDark: #1F1F1F;
$colorWhite: #ffffff;
$colorOrange: #D54A24;
$colorHover: #C52F06;

header, section{
  overflow: hidden;
}

.container{
  max-width: 1140px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 1120px) {
    padding-left: 15px;
    padding-right: 15px;
  };
}

.title{
  @include titleFont;

  @media (max-width: 1120px) {
    font-size: 22px;
  };
}

.text{
  @include textFont;

  @media (max-width: 1120px) {
    font-size: 18px;
  };
}

.button{
  @include button;

  &__icon{
    margin-right: 17px;

    @media (max-width: 1120px) {
      width: 20px;
      height: 20px;
      margin-right: 15px;
    };
  }
}

.form-button{
  cursor: pointer;
}

a{
  text-decoration: none;
}

a:active, a:focus { outline: none; }

input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}

//Modal
//---------------------------

.modal{
  display: none;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $colorWhite;
  z-index: 999;

  &__close{
    position: absolute;
    top: 40px;
    right: 30px;
    cursor: pointer;

    @media (max-width: 1120px) {
      width: 20px;
      height: 20px;
      top: 20px;
      left: 20px;
    };
  }
}

.menu-modal{
  height: 60px;
  bottom: auto;

  .container{
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__link{
    font-size: 13px;
  }
}

.menu-modal__overlay{
  background-color: transparent;
  z-index: 990;
}

.case{

  .container{
    position: relative;
    padding-top: 130px;
    padding-bottom: 70px;

    @media (max-width: 1120px) {
      padding-top: 41px;
      padding-bottom: 33px;
    };
  }

  &__title{
    margin-bottom: 68px;

    @media (max-width: 1120px) {
      margin-bottom: 30px;
      max-width: 200px;
      margin-left: auto;
      margin-right: auto;
    };
  }

  &__description{
    font-size: 36px;
    margin-bottom: 30px;

    @media (max-width: 1120px) {
      font-size: 18px;
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;

      >br{
        display: none;
      }
    };

    >a{
      color: $colorOrange;
      transition: color 300ms;

      &:hover{
        color: $colorHover;
        text-decoration: underline;
      }
    }
  }

  &__img{
    cursor: pointer;
    margin-bottom: 70px;
    max-width: 100%;

    @media (max-width: 1120px) {
      margin-bottom: 34px;
    };
  }

  &__button{
    margin-left: auto;
    margin-right: auto;
  }
}

.form{
  z-index: 1010;

  .container{
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 1120px) {
      align-items: start;
      padding-top: 120px;
    };
  }

  &__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__close{
    right: auto;
    left: 30px;

    @media (max-width: 1120px) {
      left: 15px;
      top: 15px;
    };
  }

  &__input{
    font-size: 24px;
    line-height: 170%;
    display: block;
    margin-bottom: 52px;
    border: none;
    border-bottom: 2px solid $colorMain;
    width: 460px;

    @media (max-width: 1120px) {
      font-size: 18px;
      line-height: 150%;
      margin-bottom: 35px;
      width: 300px;
    };
  }
}

//Menu-mobile
//---------------------------

.menu-mobile{

  &__wrapper{
    display: none;

    @media (max-width: 1120px) {
      display: flex;
      align-items: center;
      z-index: 600;
      position: fixed;
      height: 30px;
      top: 7px;
      left: 15px;
    }
  }

  @media (max-width: 1120px) {
    position: relative;
    display: block;
    background-color: #ffffff;
    width: 30px;
    height: 3px;
    border-radius: 1.5px;

    &::before{
      content: "";
      position: absolute;
      display: block;
      top: -8px;
      background-color: #ffffff;
      width: 30px;
      height: 3px;
      border-radius: 1.5px;
      left: 0;
    }

    &::after{
      content: "";
      position: absolute;
      display: block;
      bottom: -8px;
      background-color: #ffffff;
      width: 30px;
      height: 3px;
      border-radius: 1.5px;
      left: 0;
    }
  };
}

.menu-mobile_light{
  background-color: #fff;
  transition: all 300ms;

  &::before{
    background-color: #fff;
    transition: all 300ms;
  }

  &::after{
    background-color: #fff;
    transition: all 300ms;
  }
}

.menu-mobile_dark{
  background-color: #1c1c1c;
  transition: all 300ms;

  &::before{
    background-color: #1c1c1c;
    transition: all 300ms;
  }

  &::after{
    background-color: #1c1c1c;
    transition: all 300ms;
  }
}

//Pagination
//---------------------------

.pagination{
  z-index: 800;
  position: fixed;
  top: calc(50% - 61px);
  right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  >a{
    margin-bottom: 14px;
    
    &:last-child{
      margin-bottom: 0;
    }
  }

  &__bullet{
    width: 12px;
    height: 12px;
    border: 4px solid $colorWhite;
    border-radius: 50%;
    transition: all 300ms;
  }

  @media (max-width: 1120px) {
    display: none;
  };
}

//Navbar
//---------------------------

.navbar{
  z-index: 100;
  width: 100%;
  position: absolute;
  top: 42px;

  &__links{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link{
    color: $colorWhite;
    font-size: 22px;
    font-weight: normal;
    transition: all 150ms;

    &:hover{
      text-decoration: underline;
      color: gainsboro;
    }
  }

  @media (max-width: 1120px) {
    display: none;
  };
}

//Header
//---------------------------

.header{
  position: relative;
  @include bgImage ('../assets/img/header/Bg.jpg');
  background-attachment: fixed;
  height: 100vh;
  width: 100%;

  @media (max-width: 1120px) {
    @include bgImage ('../assets/img/mobile/header/Bg500.jpg');
    background-position: top center;
    background-attachment: scroll;
    height: 502px;
    padding-bottom: 39px;
    display: flex;
    align-items: flex-end;
  };

  &__heading{
    padding-top: 29vh;
    max-width: 42vw;
    margin-left: auto;
    margin-right: 12.7vw;

    @media (max-width: 1120px) {
      max-width: 100%;
      padding-top: 0;
      margin-right: auto;
      padding-left: 15px;
      padding-right: 15px;
    };
  }

  &__title{
    color: $colorWhite;
    font-size: 2.7vw;
    text-transform: uppercase;
    margin-bottom: 14px;

    @media (max-width: 1120px) {
      font-size: 26px;
      margin-bottom: 5px;
    };
  }

  &__subtitle{
    color: $colorWhite;
    font-size: 3.9vw;
    text-transform: uppercase;
    text-align: left;

    &:nth-child(3){
      margin-bottom: 20px;

      @media (max-width: 1120px) {
        margin-bottom: 14px;
      };
    }

    @media (max-width: 1120px) {
      font-size: 28px;
      margin-bottom: 5px;
      text-align: center;
    };
  }

  &__description{
    color: $colorWhite;
    font-size: 1.4vw;

    @media (max-width: 1120px) {
      max-width: 360px;
      font-size: 17px;

      >br {
        display: none;
      }
    };
  }

  &__down{
    position: absolute;
    bottom: 46px;
    left: calc(50% - 23px);
    opacity: 0.5;
    transition: opacity 300ms;

    &:hover{
      opacity: 1;
    }

    @media (max-width: 1120px) {
      display: none;
    };
  }
}

//Offers
//---------------------------

.offers{
  background-color: $colorWhite;
  width: 100%;

  .container {
    padding-top: 130px;
    padding-bottom: 130px;

    @media (max-width: 1120px) {
      padding-top: 72px;
      padding-bottom: 68px;
    };
  }

  &__title{
    margin-bottom: 25px;
  }

  &__subtitle{
    font-size: 34px;
    margin-bottom: 105px;

    @media (max-width: 1120px) {
      font-size: 18px;
      margin-bottom: 60px;
    };
  }

  &__row{
    display: flex;
    justify-content: space-between;

    @media (max-width: 1120px) {
      flex-direction: column;
      align-items: center;
    };
  }

  &__item{
    margin-bottom: 60px;
    max-width: 520px;
  }

  &__item-heading{
    display: flex;
    align-items: center;
    margin-bottom: 32px;

    @media (max-width: 1120px) {
      flex-direction: column;
      margin-bottom: 18px;
    };
  }

  &__item-icon{
    width: 70px;
    height: 70px;
    margin-right: 27px;

    @media (max-width: 1120px) {
      width: 50px;
      height: 50px;
      margin-right: 0;
      margin-bottom: 18px;
    };
  }

  &__item-title{
    display: inline-block;
    font-size: 24px;

    @media (max-width: 1120px) {
      font-size: 18px;
    };
  }

  &__item-description{
    font-size: 24px;

    @media (max-width: 1120px) {
      font-size: 16px;
    };
  }
}

//Portfolio
//---------------------------

.portfolio{
  position: relative;
  width: 100%;
  transition: background-color 500ms;
  background-color: $colorDark;

  &__bg_leti-studio{
    position: absolute;
    @include bgImage ("../assets/img/portfolio/Leti-Studio-hover.jpg");
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    visibility: hidden;
    transition: visibility 100ms;

    @media (max-width: 1120px) {
      display: none;
    };
  }

  &__bg_lightroom{
    position: absolute;
    @include bgImage ("../assets/img/portfolio/LightRoom-hover.jpg");
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    visibility: hidden;
    transition: visibility 100ms;

    @media (max-width: 1120px) {
      display: none;
    };
  }
  
  &__bg_betanote{
    position: absolute;
    @include bgImage ("../assets/img/portfolio/BetaNote.jpg");
    background-size: contain;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    visibility: hidden;
    transition: visibility 100ms;

    @media (max-width: 1120px) {
      display: none;
    };
  }
  .container {
    padding-top: 130px;
    padding-bottom: 430px;

    @media (max-width: 1120px) {
      padding-top: 72px;
      padding-bottom: 72px;
    };
  }

  &__title{
    color: $colorOrange;
    margin-bottom: 185px;

    @media (max-width: 1120px) {
      margin-bottom: 80px;
    };
  }

  &__list{
    @media (max-width: 1120px) {
      text-align: center;
    };
  }

  &__link{
    display: inline-block;
    color: $colorOrange;
    font-size: 38px;
    transition: color 300ms;
    cursor: pointer;
    margin-bottom: 64px;

    @media (max-width: 1120px) {
      display: block;
      margin-bottom: 36px;
      font-size: 18px;
      text-align: center;
    };

    &:last-child {
      margin-bottom: 0;
    }

    &:hover{
      color: $colorHover;

      >.title{
        color: $colorHover;
      }
    }

    >.title{
      color: $colorOrange;
      transition: color 300ms;
      font-size: 38px;

      @media (max-width: 1120px) {
        font-size: 18px;
        line-height: 150%;
      };
    }
  }
}

//contacts
//---------------------------

.contacts{
  width: 100%;
  background-color: $colorWhite;

  .container{
    padding-top: 130px;
    padding-bottom: 310px;

    @media (max-width: 1120px) {
      padding-top: 72px;
      padding-bottom: 35px;
    };
  }

  &__title{
    margin-bottom: 90px;

    @media (max-width: 1120px) {
      margin-bottom: 29px;
    };
  }

  &__subtitle{
    font-size: 34px;
    margin-bottom: 90px;

    @media (max-width: 1120px) {
      font-size: 18px;
      margin-bottom: 44px;
      max-width: 470px;
      margin-left: auto;
      margin-right: auto;

      >br{
        display: none;
      }
    };

    &:nth-child(2){
      margin-bottom: 36px;
    }
  }

  &__row{
    display: flex;
    margin-bottom: 30px;

    @media (max-width: 1120px) {
      margin-bottom: 0;
      flex-direction: column;
      align-items: center;
    };
  }

  &__button{
    margin-right: 30px;

    @media (max-width: 1120px) {
      margin-right: 0;
      margin-bottom: 25px;
    };

    &:nth-child(2){
      margin-right: 0;
    }
  }
}

//Succcess
//---------------------------

.success{
  width: 100%;

  .container{
    padding-top: 200px;
  }

  &__title{
    text-align: center;
    margin-bottom: 60px;
  }

  &__link{
    color: rgb(0, 162, 255);
    text-align: center;
    display: block;
    transition: all 300ms;

    &:hover{
      text-decoration: underline;
      color: rgb(0, 89, 255);
    }
  }
}