@import "mixins";

$colorMain: #2C2C2C;
$colorDark: #1F1F1F;
$colorWhite: #ffffff;
$colorOrange: #D54A24;
$colorHover: #C52F06;

header, section{
  overflow: hidden;
}

.container{
  max-width: 1140px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

.title{
  @include titleFont;
}

.text{
  @include textFont;
}

.button{
  @include button;

  &__icon{
    margin-right: 17px;
  }
}

.form-button{
  cursor: pointer;
}

a{
  text-decoration: none;
}

a:active, a:focus { outline: none; }

input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}

//Modal
//---------------------------

.modal{
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $colorWhite;
  z-index: 999;

  &__close{
    position: absolute;
    top: 40px;
    right: 30px;
    cursor: pointer;
  }
}

.case1, .case2{
  display: none;

  .container{
    position: relative;
    padding-top: 130px;
    padding-bottom: 70px;
  }

  &__title{
    margin-bottom: 68px;
  }

  &__description{
    font-size: 36px;
    margin-bottom: 30px;

    >a{
      color: $colorOrange;
      transition: color 300ms;

      &:hover{
        color: $colorHover;
        text-decoration: underline;
      }
    }
  }

  &__img{
    cursor: pointer;
    margin-bottom: 70px;
    max-width: 100%;
  }

  &__button{
    margin-left: auto;
    margin-right: auto;
  }
}

.form{
  z-index: 1010;
  display: none;

  .container{
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__close{
    right: auto;
    left: 30px;
  }

  &__input{
    font-size: 24px;
    line-height: 170%;
    display: block;
    margin-bottom: 52px;
    border: none;
    border-bottom: 2px solid $colorMain;
    width: 460px;
  }
}

//Pagination
//---------------------------

.pagination{
  z-index: 800;
  position: fixed;
  top: calc(50% - 61px);
  right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  >a{
    margin-bottom: 14px;
    
    &:last-child{
      margin-bottom: 0;
    }
  }

  &__bullet{
    width: 12px;
    height: 12px;
    border: 4px solid $colorWhite;
    border-radius: 50%;
    transition: all 300ms;
  }
}

//Navbar
//---------------------------

.navbar{
  z-index: 100;
  width: 100%;
  position: absolute;
  top: 42px;

  &__links{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link{
    color: $colorWhite;
    font-size: 26px;
    font-weight: normal;
  }
}

//Header
//---------------------------

.header{
  position: relative;
  @include bgImage ('../assets/img/header/Bg.jpg');
  background-attachment: fixed;
  height: 100vh;
  width: 100%;

  &__heading{
    padding-top: 29vh;
    max-width: 42vw;
    margin-left: auto;
    margin-right: 12.7vw;
  }

  &__title{
    color: $colorWhite;
    font-size: 2.7vw;
    text-transform: uppercase;
    margin-bottom: 14px;
  }

  &__subtitle{
    color: $colorWhite;
    font-size: 3.9vw;
    text-transform: uppercase;
    text-align: left;

    &:nth-child(3){
      margin-bottom: 20px;
    }
  }

  &__description{
    color: $colorWhite;
    font-size: 1.4vw;
  }

  &__down{
    position: absolute;
    bottom: 46px;
    left: calc(50% - 23px);
    opacity: 0.5;
    transition: opacity 300ms;

    &:hover{
      opacity: 1;
    }
  }
}

//Offers
//---------------------------

.offers{
  background-color: $colorWhite;
  width: 100%;

  .container {
    padding-top: 130px;
    padding-bottom: 130px;
  }

  &__title{
    margin-bottom: 25px;
  }

  &__subtitle{
    font-size: 34px;
    margin-bottom: 105px;
  }

  &__row{
    display: flex;
    justify-content: space-between;
  }

  &__item{
    margin-bottom: 60px;
    max-width: 520px;
  }

  &__item-heading{
    display: flex;
    align-items: center;
    margin-bottom: 32px;
  }

  &__item-icon{
    width: 70px;
    height: 70px;
    margin-right: 27px;
  }

  &__item-title{
    display: inline-block;
    font-size: 24px;
  }

  &__item-description{
    font-size: 24px;
  }
}

//Portfolio
//---------------------------

.portfolio{
  position: relative;
  width: 100%;
  transition: background-color 500ms;
  background-color: $colorDark;

  &__bg_leti-studio{
    position: absolute;
    @include bgImage ("../assets/img/portfolio/Leti-Studio-hover.jpg");
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    visibility: hidden;
    transition: visibility 100ms;
  }

  &__bg_lightroom{
    position: absolute;
    @include bgImage ("../assets/img/portfolio/LightRoom-hover.jpg");
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    visibility: hidden;
    transition: visibility 100ms;
  }

  .container {
    padding-top: 130px;
    padding-bottom: 430px;
  }

  &__title{
    color: $colorOrange;
    margin-bottom: 185px;
  }

  &__link{
    display: inline-block;
    color: $colorOrange;
    font-size: 38px;
    transition: color 300ms;
    cursor: pointer;

    &:nth-child(1) {
      margin-bottom: 64px;
    }

    &:hover{
      color: $colorHover;

      >.title{
        color: $colorHover;
      }
    }

    >.title{
      color: $colorOrange;
      transition: color 300ms;
      font-size: 38px;
    }
  }
}

//Portfolio
//---------------------------

.contacts{
  width: 100%;
  background-color: $colorWhite;

  .container{
    padding-top: 130px;
    padding-bottom: 310px;
  }

  &__title{
    margin-bottom: 90px;
  }

  &__subtitle{
    font-size: 34px;
    margin-bottom: 90px;

    &:nth-child(2){
      margin-bottom: 36px;
    }
  }

  &__row{
    display: flex;
    margin-bottom: 30px;
  }

  &__button{
    margin-right: 30px;

    &:nth-child(2){
      margin-right: 0;
    }
  }
}